footer {
  color: var(--color5);
}
footer:before {
  background-color: var(--color2);
}
footer div a {
  color: var(--color5);
}
footer div a svg {
  color: var(--color5) !important;
  stroke: var(--color5) !important;
}
footer div a:hover,
footer div a:hover svg {
  color: black !important;
  stroke: black !important;
}
