.todoList {
  background-color: var(--color6);
  border: solid var(--blue) 5px;
  box-shadow: #0071ce80 0px 0px 12px 0px;
}
.todoList h1 {
  color: white;
}
.todoList input {
  color: white;
  border-bottom: 1px solid var(--color4);
  caret-color: var(--color2);
}
.todoList input:hover {
  border-bottom: 2px solid var(--color3);
}
.todoList input:focus {
  border-bottom: 2px solid var(--color4);
}
.todoList form label {
  color: var(--color3);
}
#submitBtn {
  border: 4px solid var(--blue);
  background-color: var(--blue);
  color: white;
}
#submitBtn:hover {
  border: 4px solid var(--blue);
  background-color: var(--blue2);
}
.todoList ul li {
  color: white;
  background-color: var(--bcg-col);
  border: solid 2px var(--blue);
  box-shadow: #0071ce80 0px 0px 12px 0px;
}
.todoList ul li:hover {
  scale: 1.01;
  border: solid 2px var(--blue3);
  background-color: var(--color6);
}
.todoList ul li input:before {
  background-color: var(--blue);
}
.todoList ul li button {
  color: white;
}
.todoList ul li button:hover {
  background-color: var(--blue3);
}
.todoList ul li .removeBtn:before {
  background-color: var(--blue);
}
.todoList ul li:hover .removeBtn:before {
  background-color: var(--blue3);
}
.todoList ul li:hover .editBtn {
  border: solid 2px var(--blue3);
}
.todoList .editBtn {
  border: solid 2px var(--blue);
}
